# 1) Importing data

In [1]:
import pandas as pd
import numpy as np

## 1.a) Import the collection set
The collection set contains metadata of CORD-19 academic papers.

The preprocessed and filtered CORD-19 dataset is available on the Gitlab repository here: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b

Participants should first download the file then upload it on the Google Colab session with the following steps.

In [2]:
# 1) Download the collection set from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_COLLECTION_DATA = '../subtask4b_collection_data.pkl' #MODIFY PATH

In [3]:
df_collection = pd.read_pickle(PATH_COLLECTION_DATA)

In [4]:
df_collection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7718 entries, 162 to 1056448
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cord_uid          7718 non-null   object
 1   source_x          7718 non-null   object
 2   title             7718 non-null   object
 3   doi               7677 non-null   object
 4   pmcid             4959 non-null   object
 5   pubmed_id         6233 non-null   object
 6   license           7718 non-null   object
 7   abstract          7718 non-null   object
 8   publish_time      7715 non-null   object
 9   authors           7674 non-null   object
 10  journal           6668 non-null   object
 11  mag_id            0 non-null      float64
 12  who_covidence_id  528 non-null    object
 13  arxiv_id          20 non-null     object
 14  label             7718 non-null   object
 15  time              7715 non-null   datetime64[ns]
 16  timet             7718 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 1.1+ MB

In [5]:
df_collection.head()

,cord_uid,source_x,title,doi,pmcid,pubmed_id,license,abstract,publish_time,authors,journal,mag_id,who_covidence_id,arxiv_id,label,time,timet
162,umvrwgaw,PMC,Professional and Home-Made Face Masks Reduce E...,10.1371/journal.pone.0002618,PMC2440799,18612429,cc-by,BACKGROUND: Governments are preparing for a po...,2008-07-09,"van der Sande, Marianne; Teunis, Peter; Sabel,...",PLoS One,NaN,NaN,NaN,umvrwgaw,2008-07-09,1215561600
611,spiud6ok,PMC,The Failure of R (0),10.1155/2011/527610,PMC3157160,21860658,cc-by,"The basic reproductive ratio, R (0), is one of...",2011-08-16,"Li, Jing; Blakeley, Daniel; Smith?, Robert J.",Comput Math Methods Med,NaN,NaN,NaN,spiud6ok,2011-08-16,1313452800
918,aclzp3iy,PMC,Pulmonary sequelae in a patient recovered from...,10.4103/0970-2113.99118,PMC3424870,22919170,cc-by-nc-sa,The pandemic of swine flu (H1N1) influenza spr...,2012,"Singh, Virendra; Sharma, Bharat Bhushan; Patel...",Lung India,NaN,NaN,NaN,aclzp3iy,2012-01-01,1325376000
993,ycxyn2a2,PMC,What was the primary mode of smallpox transmis...,10.3389/fcimb.2012.00150,PMC3509329,23226686,cc-by,The mode of infection transmission has profoun...,2012-11-29,"Milton, Donald K.",Front Cell Infect Microbiol,NaN,NaN,NaN,ycxyn2a2,2012-11-29,1354147200
1053,zxe95qy9,PMC,"Lessons from the History of Quarantine, from P...",10.3201/eid1902.120312,PMC3559034,23343512,no-cc,"In the new millennium, the centuries-old strat...",2013-02-03,"Tognotti, Eugenia",Emerg Infect Dis,NaN,NaN,NaN,zxe95qy9,2013-02-03,1359849600

## 1.b) Import the query set

The query set contains tweets with implicit references to academic papers from the collection set.

The preprocessed query set is available on the Gitlab repository here: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b

Participants should first download the file then upload it on the Google Colab session with the following steps.

In [6]:
# 1) Download the query tweets from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b?ref_type=heads
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_QUERY_TRAIN_DATA = '../subtask4b_query_tweets_train.tsv' #MODIFY PATH
PATH_QUERY_DEV_DATA = '../subtask4b_query_tweets_dev.tsv' #MODIFY PATH

In [7]:
df_query_train = pd.read_csv(PATH_QUERY_TRAIN_DATA, sep = '\t')
df_query_dev = pd.read_csv(PATH_QUERY_DEV_DATA, sep = '\t')

In [8]:
df_query_train.head()

   post_id                                         tweet_text  cord_uid
0        0  Oral care in rehabilitation medicine: oral vul...  htlvpvz5
1        1  this study isn't receiving sufficient attentio...  4kfl29ul
2        2  thanks, xi jinping. a reminder that this study...  jtwb17u8
3        3  Taiwan - a population of 23 million has had ju...  0w9k8iy1
4        4  Obtaining a diagnosis of autism in lower incom...  tiqksd69

In [9]:
df_query_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12853 entries, 0 to 12852
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   post_id     12853 non-null  int64
 1   tweet_text  12853 non-null  object
 2   cord_uid    12853 non-null  object
dtypes: int64(1), object(2)
memory usage: 301.4+ KB

In [10]:
df_query_dev.head()

   post_id                                         tweet_text  cord_uid
0       16  covid recovery: this study from the usa reveal...  3qvh482o
1       69  "Among 139 clients exposed to two symptomatic ...  r58aohnu
2       73  I recall early on reading that researchers who...  sts48u9i
3       93  You know you're credible when NIH website has ...  3sr2exq9
4       96  Resistance to antifungal medications is a grow...  ybwwmyqy

In [11]:
df_query_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   post_id     1400 non-null   int64
 1   tweet_text  1400 non-null   object
 2   cord_uid    1400 non-null   object
dtypes: int64(1), object(2)
memory usage: 32.9+ KB

# 2) Running BM25 with preprocessing

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import nltk
from nltk.stem import SnowballStemmer
from nltk.tokenize import word_tokenize
import re
from rank_bm25 import BM25Okapi

# Download necessary NLTK resources (if not already downloaded)
nltk.download('punkt_tab')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger_eng')

[nltk_data] Downloading package punkt_tab to /home/lukas/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /home/lukas/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /home/lukas/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

True

In [13]:
def standard_tokenizer(text):
    """Standard tokenizer with stemming and stop word removal."""
    if not isinstance(text, str):
        return []
    text = re.sub(r'http\S+', '', text)
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    tokens = word_tokenize(text.lower())
    stop_words = set(nltk.corpus.stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    stemmer = SnowballStemmer('english')
    return [stemmer.stem(word) for word in filtered_tokens]

def name_tokenizer(text):
    """Tokenizer for extracting potential names (capitalized n-grams)."""
    if not isinstance(text, str):
        return ["unknown"] # return unknown
    tokens = word_tokenize(text)
    pos_tags = nltk.pos_tag(tokens)
    name_ngrams = []
    for n in [2, 3]:  # Bigrams and trigrams
        for i in range(len(pos_tags) - n + 1):
            ngram_pos = pos_tags[i:i + n]
            ngram_words = [word for word, tag in ngram_pos]
            ngram_tags = [tag for word, tag in ngram_pos]
            # Check if the current n-gram potentially represents a name or organization
            # Condition 1: All words in the n-gram are proper nouns (NNP)
            #   - This is common for multi-word names like "Albert Einstein" or "World Health Organization"
            # Condition 2: (For bigrams only) The first word is a proper noun (NNP)
            #   and the second word is either a common noun (NN) or another proper noun (NNP)
            #   - This can capture patterns like "Dr. Smith" or "Apple Inc."
            if all(tag == 'NNP' for tag in ngram_tags) or \
               (n == 2 and ngram_tags[0] == 'NNP' and ngram_tags[1] in ['NN', 'NNP']):
                    name_ngrams.append(" ".join(ngram_words).lower())
    if not name_ngrams:
        return ["unknown"] #return unkown if no name ngrams are found.
    return name_ngrams

def extract_year(text):
    """Extracts a year (4 digits) from text."""
    match = re.search(r'\b\d{4}\b', text)
    if match:
        return int(match.group(0))
    return None

In [14]:
# Initialize BM25 models for different metadata attributes
corpus_title_abstract = df_collection['title'].fillna('') + " " + df_collection['abstract'].fillna('')
tokenized_corpus_title_abstract = [standard_tokenizer(doc) for doc in corpus_title_abstract]
bm25_title_abstract = BM25Okapi(tokenized_corpus_title_abstract)

corpus_authors = df_collection['authors'].fillna('')
tokenized_corpus_authors = [name_tokenizer(doc) for doc in corpus_authors]
bm25_authors = BM25Okapi(tokenized_corpus_authors)

corpus_journal = df_collection['journal'].fillna('')
tokenized_corpus_journal = [standard_tokenizer(doc) for doc in corpus_journal]
bm25_journal = BM25Okapi(tokenized_corpus_journal)

cord_uids = df_collection['cord_uid'].tolist()

In [15]:
def get_weighted_similarity_topk(query_text,
                        weight_title_abstract=0.4,
                        weight_authors=0.3,
                        weight_journal=0.2,
                        weight_publish_time=0.4,
                        n=100):
    """
    Calculates a weighted similarity score using BM25 on different metadata
    and publication time.
    """
    potential_year = extract_year(query_text)

    # BM25 scores for different metadata
    tokenized_query_standard = standard_tokenizer(query_text)
    bm25_scores_title_abstract = bm25_title_abstract.get_scores(tokenized_query_standard)

    tokenized_query_names = name_tokenizer(query_text)
    bm25_scores_authors = bm25_authors.get_scores(tokenized_query_names)

    bm25_scores_journal = bm25_journal.get_scores(tokenized_query_standard)

    # Publication time similarity
    publish_time_similarity = np.zeros(len(df_collection))
    if potential_year is not None:
        publish_time_similarity = 1 - np.abs(df_collection['timet'] - potential_year) / (
            df_collection['timet'].max() - df_collection['timet'].min())

    # Combine weighted BM25 scores and publish time similarity
    final_similarity = (
        weight_title_abstract * bm25_scores_title_abstract +
        weight_authors * bm25_scores_authors +
        weight_journal * bm25_scores_journal +
        weight_publish_time * publish_time_similarity # FIXME different scales between bm25 scores and publish time similarity
    )

    top_indices = np.argsort(-final_similarity)[:n]
    return df_collection['cord_uid'].iloc[top_indices].tolist()

In [ ]:
# Retrieve topk candidates using BM25
df_query_train['tfidf_topk'] = df_query_train['tweet_text'].apply(get_weighted_similarity_topk, n=100)
df_query_dev['tfidf_topk'] = df_query_dev['tweet_text'].apply(get_weighted_similarity_topk, n=100)

In [19]:
# E.g. first 10 entries of the top n documents retrieved
print(df_query_train['tfidf_topk'][0][:10])

['htlvpvz5', '32z7b3fp', 'dbgtslc8', '52cub1om', 'h7hj64q5', 'trmwm9qq', '65gedo6u', 'rwgqkow3', 'am11yqbf', 'tpovr13h']

In [20]:
print(df_query_train['tfidf_topk'])

0        [htlvpvz5, 32z7b3fp, dbgtslc8, 52cub1om, h7hj6...
1        [apqzyln2, asdcpvhx, 33znyrn8, ljcdfmbu, 296il...
2        [jtwb17u8, a0q61mpi, veeavho5, 8hkxbxz9, hnsv4...
3        [lsgm7y5t, 9g0lo2e9, l5ogbl5p, x14iywtr, b97ac...
4        [tiqksd69, k7smwz6w, b0dzhsrh, aqbhxv1f, 0u330...
                               ...
12848    [1y1ik2u9, 1zuhilmu, dgng39yd, 9169o29b, qfren...
12849    [s2bpha8l, 8a3fp7ym, 2u9eenwu, ajzl3y46, jkdyo...
12850    [y7s6qt6j, lavcsqov, g17lp8ch, 7s79900j, 7y6ok...
12851    [t4y1ylb3, 7a543f7v, ro3k6q06, 8ztv34hs, ws3tf...
12852    [nlsv8bin, cwqsbwaj, noxt3ikd, 8gh3q7p3, tiu86...
Name: tfidf_topk, Length: 12853, dtype: object

In [18]:
# Store as a JSON file
def save_series_to_json(series, filename):
    series.to_json(filename)

In [22]:
# Store Top n ranked documents
filename = 'ranked_train'
save_series_to_json(df_query_train, filename)

filename = 'ranked_dev'
save_series_to_json(df_query_dev, filename)

Get top 500

In [16]:
# Retrieve top 500 candidates using BM25
df_query_train['tfidf_topk'] = df_query_train['tweet_text'].apply(get_weighted_similarity_topk, n=500)
df_query_dev['tfidf_topk'] = df_query_dev['tweet_text'].apply(get_weighted_similarity_topk, n=500)

In [19]:
# Store Top 500 ranked documents
filename = 'ranked_train_500'
save_series_to_json(df_query_train, filename)

filename = 'ranked_dev_500'
save_series_to_json(df_query_dev, filename)

# 3) Evaluating BM25 with preprocessing

In [23]:
# Evaluate retrieved candidates using MRR@k
def get_performance_mrr(data, col_gold, col_pred, list_k=[1, 5, 10]):
    d_performance = {}
    for k in list_k:
        data["in_topx"] = data.apply(
            lambda x: (1 / ([i for i in x[col_pred][:k]].index(x[col_gold]) + 1)
                      if x[col_gold] in [i for i in x[col_pred][:k]] else 0), axis=1)
        d_performance[k] = data["in_topx"].mean()
    return d_performance

In [27]:
# Evaluate BM25 results
results_train_tfidf = get_performance_mrr(df_query_train, 'cord_uid', 'tfidf_topk')
results_dev_tfidf = get_performance_mrr(df_query_dev, 'cord_uid', 'tfidf_topk')
# Print BM25 MRR@k results
print(f"BM25 Results on the train set: {results_train_tfidf}")
print(f"BM25 Results on the dev set: {results_dev_tfidf}")

BM25 Results on the train set: {1: np.float64(0.5693612386213336), 5: np.float64(0.6209743509945798), 10: np.float64(0.6268355914683621)}
BM25 Results on the dev set: {1: np.float64(0.575), 5: np.float64(0.6219166666666667), 10: np.float64(0.6283432539682541)}

In [34]:
print(f"Original number of tweets in df_query_dev: {len(df_query_dev)}")

df_query_dev_filtered = df_query_dev[
    df_query_dev.apply(
        lambda row: row['cord_uid'] in row['tfidf_topk'] if isinstance (row['tfidf_topk'], list) else False,
        axis=1 # Apply the function row-wise
    )
].copy()

print(f"Number of tweets in the filtered DataFrame (where correct doc was in top n): {len(df_query_dev_filtered)}")
print(f"I.e. {((len(df_query_dev) - len(df_query_dev_filtered))/len(df_query_dev) * 100):.4}% of the correct documents are not in the top n!")

Original number of tweets in df_query_dev: 1400
Number of tweets in the filtered DataFrame (where correct doc was in top n): 1214
I.e. 13.29% of the correct documents are not in the top n!

In [28]:
results_dev_filtered = get_performance_mrr(df_query_dev_filtered, 'cord_uid', 'tfidf_topk')
# Print BM25 MRR@k results
print(f"BM25 Results on the train set: {results_dev_filtered}")

BM25 Results on the train set: {1: np.float64(0.6630971993410214), 5: np.float64(0.7172020867655136), 10: np.float64(0.7246133077063884)}

# 4) Exporting results to prepare the submission on Codalab

In [ ]:
#df_query_dev['preds'] = df_query_dev['bm25_topk'].apply(lambda x: x[:5])

In [ ]:
#df_query_dev[['post_id', 'preds']].to_csv('predictions.tsv', index=None, sep='\t')